In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')

In [3]:
data

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
data_html = pd.read_html("http://vincentarelbundock.github.io/Rdatasets/datasets.html")

In [5]:
data_html

[                                                Package           Item  \
 0                                                   AER        Affairs
 1                                                   AER   ArgentinaCPI
 2                                                   AER      BankWages
 3                                                   AER  BenderlyZwick
 4                                                   AER      BondYield
 ...                                                 ...            ...
 1710                                                vcd   VisualAcuity
 1711                                                vcd        VonBort
 1712                                                vcd     WeldonDice
 1713                                                vcd     WomenQueue
 1714  Package Item Title Rows Cols n_binary n_charac...            NaN

                                                   Title   Rows  Cols  \
 0                      Fair's Extramarital Affairs Data  601.0   9.0
 1                     Consumer Price Index in Argentina   80.0   2.0
 2                                            Bank Wages  474.0   4.0
 3     Benderly and Zwick Data: Inflation, Growth and...   31.0   5.0
 4                                       Bond Yield Data   60.0   2.0
 ...                                                 ...    ...   ...
 1710               Visual Acuity in Left and Right Eyes   32.0   4.0
 1711                   Von Bortkiewicz Horse Kicks Data  280.0   4.0
 1712                                 Weldon's Dice Data   11.0   2.0
 1713                                    Women in Queues   11.0   2.0
 1714                                                NaN    NaN   NaN

       n_binary  n_character  n_factor  n_logical  n_numeric  CSV  Doc
 0          2.0          0.0       2.0        0.0        7.0  CSV  DOC
 1          0.0          0.0       0.0        0.0        2.0  CSV  DOC
 2          2.0          0.0       3.0        0.0        1.0  CSV  DOC
 3          0.0          0.0       0.0        0.0        5.0  CSV  DOC
 4          0.0          0.0       0.0        0.0        2.0  CSV  DOC
 ...        ...          ...       ...        ...        ...  ...  ...
 1710       1.0          0.0       3.0        0.0        1.0  CSV  DOC
 1711       1.0          0.0       2.0        0.0        2.0  CSV  DOC
 1712       0.0          0.0       1.0        0.0        1.0  CSV  DOC
 1713       0.0          0.0       1.0        0.0        1.0  CSV  DOC
 1714       NaN          NaN       NaN        NaN        NaN  NaN  NaN

 [1715 rows x 12 columns],
      Package           Item  \
 0        AER        Affairs
 1        AER   ArgentinaCPI
 2        AER      BankWages
 3        AER  BenderlyZwick
 4        AER      BondYield
 ...      ...            ...
 1709     vcd       UKSoccer
 1710     vcd   VisualAcuity
 1711     vcd        VonBort
 1712     vcd     WeldonDice
 1713     vcd     WomenQueue

                                                   Title  Rows  Cols  n_binary  \
 0                      Fair's Extramarital Affairs Data   601     9         2
 1                     Consumer Price Index in Argentina    80     2         0
 2                                            Bank Wages   474     4         2
 3     Benderly and Zwick Data: Inflation, Growth and...    31     5         0
 4                                       Bond Yield Data    60     2         0
 ...                                                 ...   ...   ...       ...
 1709                                   UK Soccer Scores    25     3         0
 1710               Visual Acuity in Left and Right Eyes    32     4         1
 1711                   Von Bortkiewicz Horse Kicks Data   280     4         1
 1712                                 Weldon's Dice Data    11     2         0
 1713                                    Women in Queues    11     2         0

       n_character  n_factor  n_logical  n_numeric  CSV  Doc
 0               0         2          0          7  CSV  DOC
 1               0         0          0          2  CSV  DOC
 2               0         3          0          1  CSV  DOC
 3               0         0          0          5  CSV  DOC
 4               0         0          0          2  CSV  DOC
 ...           ...       ...        ...        ...  ...  ...
 1709            0         2          0          1  CSV  DOC
 1710            0         3          0          1  CSV  DOC
 1711            0         2          0          2  CSV  DOC
 1712            0         1          0          1  CSV  DOC
 1713            0         1          0          1  CSV  DOC

 [1714 rows x 12 columns]]

In [ ]:
data_json = pd.read_json("")